.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.layout__name {
  text-align: center;
}



.follows__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.follow__paper {
  min-width: 200px;
  padding: 10px 20px;
  margin: 20px;
}

.follow__paper > div {
  margin: 10px 0;
}

.follow__paper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow__paper-header > * {
  margin: 0;
}

.label {
  font-size: 0.75em;

}

.login__form {
  text-align: center;
}